body {
	max-width: 2000px;
	background-color: black;
}

.header {
	display: inline-flex;
	justify-content: space-between;
	background: linear-gradient(90deg, #0C20FA, #00FAC3);
	height: 15%;
	width: 100%;
	color: black;
}

.header h1 {
	margin-right: 2%;
	margin-left: 2%;
}
